doctype html
html
  head
    title= htmlWebpackPlugin.options.title
    meta(
      charset="utf-8"
    )
  body
    .loading#music-loading
      svg(
        width="38",
        height="38",
        viewBox="0 0 38 38",
        xmlns="http://www.w3.org/2000/svg",
        stroke="#fff"
      )
        g(
          transform="translate(1 1)",
          stroke-width="2",
          fill="none",
          fill-rule="evenodd"
        )
        circle(
          stroke-opacity=".5",
          cx="18",
          cy="18",
          r="18"
        )
        path(
          d="M36 18c0-9.94-8.06-18-18-18"
        )
          animateTransform(
            attributeName="transform",
            type="rotate",
            from="0 18 18",
            to="360 18 18",
            dur="1s",
            repeatCount="indefinite"
          )
    .bgimg#music-bgimg
      span.mask
    .music#music
      .music-cover
        .music__radio#music-radio
          i
          span 电台
        .music__pic#music-pic
          img(
            src=`${require('~assets/img/cover.jpg')}`,
            alt="music"
          )
        .music__control
          .time
            span#music-ctime 00:00
            span#music-dtime 00:00
          .progress
            span#music-played
              i
            span#music-loaded
          .menu
            .music__btn#music-btn
              .btn.prev#music-prev
                i
              .btn.play#music-play
                i
              .btn.next#music-next
                i
